.row {
    .card-container {
        display: flex;
        text-align: left;
        justify-content: center;
        flex-wrap: wrap;
    
        .card {
          border-radius: 4px;
          border: 1px solid lightgray;
          margin: 12px;
          padding: 12px;
    
          .title-wrapper {
            display: flex;
          }
        }
    }
    .subtitle {
        width: 100%;
    }
}
  